.container-fluid {
    padding: 40px 350px 0px 370px;
}

.btn-md {
    padding-left: 40px;
    padding-right: 40px;
}

.col-form-label {
    font-size: 15px;
    text-align: right;
}

.card-header {
    font-size: large;
}

.card-body {
    padding: 0px 50px 0px 0px;
    height: 200px;
}

.form-control {
    width: 300px;
}