<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <strong> AVAILABLE STOCK</strong>
        </div>
        <div class="card-body">
            <table class="table table-responsive-lg table-bordered table-striped table-md">
                <thead>
                    <tr>
                        <th>SL NO</th>
                        <th>KIT TYPE</th>
                        <th>AVAILABLE KIT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Economy</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Economy</td>
                        <td>78</td>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Economy</td>
                        <td>451</td>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Economy</td>
                        <td>128</td>
                    </tr>
                </tbody>
            </table>
            <br>

            <nav class=" float-right ">
                <ul class="pagination ">
                    <li class="page-item "><a class="page-link " href="# ">Prev</a></li>
                    <li class="page-item active "><a class="page-link " href="# ">1</a></li>
                    <li class="page-item "><a class="page-link " href="# ">2</a></li>
                    <li class="page-item "><a class="page-link " href="# ">3</a></li>
                    <li class="page-item "><a class="page-link " href="# ">4</a></li>
                    <li class="page-item "><a class="page-link " href="# ">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>