<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <strong> KIT ALL STOCK</strong>
        </div>
        <div class="card-body">
            <table class="table table-responsive-md table-bordered table-striped table-sm">
                <thead class="text-center">
                    <tr>
                        <th>SL NO.</th>
                        <th>KIT TYPE</th>
                        <th>AVAILABLE KIT</th>
                        <th>RETURN KIT</th>
                        <th>ALLOCATED KIT</th>
                        <th>BOOKED KIT</th>

                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let x of stockList index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ x._id }}</td>
                        <td>{{ x.available }}</td>
                        <td>{{ x.returned }}</td>
                        <td>{{ x.allocated }}</td>
                        <td>{{ x.booked }}</td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>