.container {
    padding: 50px 0px 10px 170px;
}

.btn-info {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
}

.btn-danger {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
}

.card-body {
    padding: 0px;
}

table {
    margin: 0px;
}

strong {
    font-size: 20px;
}

table {
    padding-top: 10px;
    padding-bottom: 10px;
}