.container {
    padding: 50px 150px 0px 200px;
}

.card-body {
    padding: 30px 80px 50px 80px;
    height: 400px;
}

.text-mute {
    margin-bottom: 30px;
}

.px-4 {
    padding: 7px 15px 7px 15px;
}

.card {
    background: rgba(7, 175, 218, 0.1);
}